## Path:
## Description: Grafana Alloy settings
## Type:        string
## Default:     ""
## ServiceRestart: alloy
#
# Command line options for Alloy.
#
# The configuration file holding the Alloy config.
CONFIG_FILE="{{ alloy_path }}/{{ alloy_config_dir }}/alloy.config"

# User-defined arguments to pass to the run command.
CUSTOM_ARGS="{{ alloy_env_vars_computed.CUSTOM_ARGS }}"

# Restart on system upgrade. Defaults to true.
RESTART_ON_UPGRADE={{ alloy_env_vars_computed.RESTART_ON_UPGRADE }}
