[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart={{ node_exporter_bin_path }} \
    --web.listen-address=:{{ node_exporter_port }} \
    --collector.systemd \
    --collector.processes

[Install]
WantedBy=multi-user.target